In [1]:
# Los objetivos de hoy son:
# Buscar un conjunto de datos a analizar:
# Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.


from scipy import stats 
import seaborn as sns
import numpy as np 
import pandas as pd
df= pd.read_csv('./datos/Financial Sample.csv')

In [2]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,United States of America,Paseo,Low,3450.0,$10.00,$350.00,"$1,207,500.00","$48,300.00","$1,159,200.00","$897,000.00","$262,200.00",7/1/2014,7,July,2014
1,Government,France,Amarilla,None,2750.0,$260.00,$350.00,"$962,500.00",$0.00,"$962,500.00","$715,000.00","$247,500.00",2/1/2014,2,February,2014
2,Government,Germany,Velo,Low,2966.0,$120.00,$350.00,"$1,038,100.00","$20,762.00","$1,017,338.00","$771,160.00","$246,178.00",10/1/2013,10,October,2013
3,Government,Germany,Amarilla,Low,2966.0,$260.00,$350.00,"$1,038,100.00","$20,762.00","$1,017,338.00","$771,160.00","$246,178.00",10/1/2013,10,October,2013
4,Government,Germany,Velo,Low,2877.0,$120.00,$350.00,"$1,006,950.00","$20,139.00","$986,811.00","$748,020.00","$238,791.00",10/1/2014,10,October,2014

In [4]:
df['Sale Price']

0      $350.00
1      $350.00
2      $350.00
3      $350.00
4      $350.00
        ...
695    $125.00
696    $125.00
697    $125.00
698    $125.00
699    $125.00
Name: Sale Price, Length: 700, dtype: object

In [5]:
# Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
# Media
df.mean()

/var/folders/0b/r1tw2m0d04b5wkj6n99ypszr0000gn/T/ipykernel_5298/3754799491.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Units Sold      1608.294286
Month Number       7.900000
Year            2013.750000
dtype: float64

In [ ]:
# Desviación con respecto de la media

In [ ]:
# Varianza

In [ ]:
# Desviación típica

In [ ]:
# Moda

In [ ]:
# Mediana

In [ ]:
# Media ponderada

In [ ]:
# Robustez

In [ ]:
# Coeficiente de variación

In [ ]:
# Interpretación de los resultados.
# Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.