In [6]:
# Los objetivos de hoy son:
# Buscar un conjunto de datos a analizar:
# Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.


from scipy import stats 
import seaborn as sns
import numpy as np 
import pandas as pd
df= pd.read_csv('./datos/India_Menu.csv')

In [7]:
df.head()

,Menu Category,Menu Items,Per Serve Size,Energy (kCal),Protein (g),Total fat (g),Sat Fat (g),Trans fat (g),Cholesterols (mg),Total carbohydrate (g),Total Sugars (g),Added Sugars (g),Sodium (mg)
0,Regular Menu,McVeggie™ Burger,168 g,402.05,10.24,13.83,5.34,0.16,2.49,56.54,7.90,4.49,706.13
1,Regular Menu,McAloo Tikki Burger®,146 g,339.52,8.50,11.31,4.27,0.20,1.47,50.27,7.05,4.07,545.34
2,Regular Menu,McSpicy™ Paneer Burger,199 g,652.76,20.29,39.45,17.12,0.18,21.85,52.33,8.35,5.27,1074.58
3,Regular Menu,Spicy Paneer Wrap,250 g,674.68,20.96,39.10,19.73,0.26,40.93,59.27,3.50,1.08,1087.46
4,Regular Menu,American Veg Burger,177 g,512.17,15.30,23.45,10.51,0.17,25.24,56.96,7.85,4.76,1051.24

In [13]:
# Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
# Media
media=df.mean(skipna=True)
media

/var/folders/0b/r1tw2m0d04b5wkj6n99ypszr0000gn/T/ipykernel_5298/2494536468.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  media=df.mean(skipna=True)

Energy (kCal)             244.635461
Protein (g)                 7.493546
Total fat (g)               9.991702
Sat Fat (g)                 4.997589
Trans fat (g)               0.687163
Cholesterols (mg)          26.350071
Total carbohydrate (g)     31.190284
Total Sugars (g)           15.464894
Added Sugars (g)           10.336950
Sodium (mg)               362.064143
dtype: float64

In [14]:
# Desviación con respecto de la media

desviacion_media = np.abs(df-media)
desviacion_media

,Added Sugars (g),Cholesterols (mg),Energy (kCal),Menu Category,Menu Items,Per Serve Size,Protein (g),Sat Fat (g),Sodium (mg),Total Sugars (g),Total carbohydrate (g),Total fat (g),Trans fat (g)
0,5.84695,23.860071,157.414539,NaN,NaN,NaN,2.746454,0.342411,344.065857,7.564894,25.349716,3.838298,0.527163
1,6.26695,24.880071,94.884539,NaN,NaN,NaN,1.006454,0.727589,183.275857,8.414894,19.079716,1.318298,0.487163
2,5.06695,4.500071,408.124539,NaN,NaN,NaN,12.796454,12.122411,712.515857,7.114894,21.139716,29.458298,0.507163
3,9.25695,14.579929,430.044539,NaN,NaN,NaN,13.466454,14.732411,725.395857,11.964894,28.079716,29.108298,0.427163
4,5.57695,1.110071,267.534539,NaN,NaN,NaN,7.806454,5.512411,689.175857,7.614894,25.769716,13.458298,0.517163
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,8.69695,26.270071,233.405461,NaN,NaN,NaN,7.413546,4.997589,291.014143,13.134894,28.560284,13.458298,0.677163
137,4.99695,26.050071,158.235461,NaN,NaN,NaN,7.493546,4.997589,347.064143,0.735106,9.590284,9.991702,0.687163
138,10.33695,12.920071,193.605461,NaN,NaN,NaN,4.433546,2.107589,183.114143,14.924894,30.470284,6.001702,0.677163
139,10.33695,24.350071,199.555461,NaN,NaN,NaN,6.023546,4.777589,362.024143,12.924894,23.640284,8.991702,0.647163
140,10.33695,26.340071,172.385461,NaN,NaN,NaN,6.843546,4.977589,351.264143,1.365106,13.190284,9.971702,0.667163

In [15]:
# Varianza
varianza= np.var(df) # varianza para todos los datos
varianza

/Users/feliciano/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3700: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Energy (kCal)              34186.408838
Protein (g)                   69.010355
Total fat (g)                106.147292
Sat Fat (g)                   23.844105
Trans fat (g)                 39.736165
Cholesterols (mg)           2515.563425
Total carbohydrate (g)       421.433989
Total Sugars (g)             244.436476
Added Sugars (g)             202.568267
Sodium (mg)               222281.699963
dtype: float64

In [16]:
np.var(df, 0) # varianza de cada columna

/Users/feliciano/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3700: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Energy (kCal)              34186.408838
Protein (g)                   69.010355
Total fat (g)                106.147292
Sat Fat (g)                   23.844105
Trans fat (g)                 39.736165
Cholesterols (mg)           2515.563425
Total carbohydrate (g)       421.433989
Total Sugars (g)             244.436476
Added Sugars (g)             202.568267
Sodium (mg)               222281.699963
dtype: float64

In [17]:
np.var(df, 1) #varianza de cada fila

/Users/feliciano/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3700: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

0       51766.478001
1       32100.508620
2      122835.773896
3      126625.222221
4      108067.705505
           ...
136       447.354120
137       634.970304
138      2835.883976
139       174.359264
140       453.777920
Length: 141, dtype: float64

In [18]:
# Desviación típica

des_tipica= np.str(df) # varianza para todos los datos
des_tipica

/var/folders/0b/r1tw2m0d04b5wkj6n99ypszr0000gn/T/ipykernel_5298/89210321.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  des_tipica= np.str(df) # varianza para todos los datos

'       Menu Category              Menu Items Per Serve Size  Energy (kCal)  \\\n0       Regular Menu        McVeggie™ Burger          168 g         402.05   \n1       Regular Menu    McAloo Tikki Burger®          146 g         339.52   \n2       Regular Menu  McSpicy™ Paneer Burger          199 g         652.76   \n3       Regular Menu       Spicy Paneer Wrap          250 g         674.68   \n4       Regular Menu     American Veg Burger          177 g         512.17   \n..               ...                     ...            ...            ...   \n136  Condiments Menu  Tomato Ketchup Sachets            8 g          11.23   \n137  Condiments Menu             Maple Syrup           30 g          86.40   \n138  Condiments Menu            Cheese Slice           14 g          51.03   \n139  Condiments Menu              Sweet Corn           40 g          45.08   \n140  Condiments Menu    Mixed Fruit Beverage         180 ml          72.25   \n\n     Protein (g)  Total fat (g)  Sat Fat (g)  Trans fat (g)  \\\n0          10.24          13.83         5.34           0.16   \n1           8.50          11.31         4.27           0.20   \n2          20.29          39.45        17.12           0.18   \n3          20.96          39.10        19.73           0.26   \n4          15.30          23.45        10.51           0.17   \n..           ...            ...          ...            ...   \n136         0.08          23.45         0.00           0.01   \n137         0.00           0.00         0.00           0.00   \n138         3.06           3.99         2.89           0.01   \n139         1.47           1.00         0.22           0.04   \n140         0.65           0.02         0.02           0.02   \n\n     Cholesterols (mg)  Total carbohydrate (g)  Total Sugars (g)  \\\n0                 2.49                   56.54              7.90   \n1                 1.47                   50.27              7.05   \n2                21.85                   52.33              8.35   \n3                40.93                   59.27              3.50   \n4                25.24                   56.96              7.85   \n..                 ...                     ...               ...   \n136               0.08                    2.63              2.33   \n137               0.30                   21.60             16.20   \n138              13.43                    0.72              0.54   \n139               2.00                    7.55              2.54   \n140               0.01                   18.00             16.83   \n\n     Added Sugars (g)  Sodium (mg)  \n0                4.49       706.13  \n1                4.07       545.34  \n2                5.27      1074.58  \n3                1.08      1087.46  \n4                4.76      1051.24  \n..                ...          ...  \n136              1.64        71.05  \n137              5.34        15.00  \n138              0.00       178.95  \n139              0.00         0.04  \n140              0.00        10.80  \n\n[141 rows x 13 columns]'

In [19]:
np.std(df, 0) #desviacion para cada columna

/Users/feliciano/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3558: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Energy (kCal)             184.895670
Protein (g)                 8.307247
Total fat (g)              10.302781
Sat Fat (g)                 4.883043
Trans fat (g)               6.303663
Cholesterols (mg)          50.155393
Total carbohydrate (g)     20.528857
Total Sugars (g)           15.634464
Added Sugars (g)           14.232648
Sodium (mg)               471.467602
dtype: float64

In [20]:
np.std(df, 1) #desviacion para cada fila

0      227.522478
1      179.166148
2      350.479349
3      355.844379
4      328.736529
          ...
136     21.150748
137     25.198617
138     53.253018
139     13.204517
140     21.302064
Length: 141, dtype: float64

In [23]:
# Moda

# moda de cada columna
moda, frecuencia = stats.mode(df)

[['McCafe Menu' '2 piece Chicken Strips' '299 ml' 12.87 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.32]]
[[51  1  4  2 16 16 18 17 16  2  3 48  2]]

In [26]:
moda

array([['McCafe Menu', '2 piece Chicken Strips', '299 ml', 12.87, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.32]], dtype=object)

In [27]:
frecuencia

array([[51,  1,  4,  2, 16, 16, 18, 17, 16,  2,  3, 48,  2]])

In [ ]:
# Mediana

In [ ]:
# Media ponderada

In [ ]:
# Robustez

In [ ]:
# Coeficiente de variación

In [ ]:
# Interpretación de los resultados.
# Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.