In [14]:
# Los objetivos de hoy son:
# Buscar un conjunto de datos a analizar:
# Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.


from scipy import stats 
import seaborn as sns
import numpy as np 
import pandas as pd
df= pd.read_csv('./datos/India_Menu.csv')

In [56]:
df.describe(include = "object")

#con el método describe, incluyendo objetos podemos ver los principales estadísticos de nuestro data frame, incluidas nuestras variables categóricas

       Menu Category        Menu Items Per Serve Size
count            141               141            141
unique             7               141            107
top      McCafe Menu  McVeggie™ Burger         299 ml
freq              51                 1              4

In [57]:
df.describe() #con describe, sin incluír las variables categóricas podemos ver los principales estadísticos de nuestro dataframe.

,Energy (kCal),Protein (g),Total fat (g),Sat Fat (g),Trans fat (g),Cholesterols (mg),Total carbohydrate (g),Total Sugars (g),Added Sugars (g),Sodium (mg)
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,140.000000
mean,244.635461,7.493546,9.991702,4.997589,0.687163,26.350071,31.190284,15.464894,10.336950,362.064143
std,185.554837,8.336863,10.339511,4.900451,6.326136,50.334200,20.602044,15.690202,14.283388,473.160490
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,116.360000,0.650000,0.460000,0.280000,0.060000,1.510000,15.740000,2.330000,0.000000,43.895000
50%,219.360000,4.790000,7.770000,4.270000,0.150000,8.390000,30.820000,9.160000,3.640000,152.025000
75%,339.520000,10.880000,14.160000,7.280000,0.220000,31.110000,46.000000,26.950000,19.230000,534.240000
max,834.360000,39.470000,45.180000,20.460000,75.260000,302.610000,93.840000,64.220000,64.220000,2399.490000

In [62]:
# Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
# Media
media=df['Total fat (g)'].mean(skipna=True)
media


#Elegimos analizar la columna Total fat (g), la cual nos muestra que la media de grasas totales de todos los productos del menú es 9.99 gramos.

9.991702127659575

In [64]:
# Desviación con respecto de la media

desviacion_media = np.abs(df['Total fat (g)']-media)
desviacion_media

#La desviación media es la diferencia entre cada valor de la variable estadística y la media (antes calculada), en este caso de la columna 'Total fat (g)'.

0       3.838298
1       1.318298
2      29.458298
3      29.108298
4      13.458298
         ...
136    13.458298
137     9.991702
138     6.001702
139     8.991702
140     9.971702
Name: Total fat (g), Length: 141, dtype: float64

In [67]:
# Varianza
varianza= np.var(df) # varianza para todos los datos
varianza

#Representa la media aritmética al cuadrado de la desviación respecto a la media

Energy (kCal)              34186.408838
Protein (g)                   69.010355
Total fat (g)                106.147292
Sat Fat (g)                   23.844105
Trans fat (g)                 39.736165
Cholesterols (mg)           2515.563425
Total carbohydrate (g)       421.433989
Total Sugars (g)             244.436476
Added Sugars (g)             202.568267
Sodium (mg)               222281.699963
dtype: float64

In [68]:
np.var(df, 0) # varianza de cada columna

Energy (kCal)              34186.408838
Protein (g)                   69.010355
Total fat (g)                106.147292
Sat Fat (g)                   23.844105
Trans fat (g)                 39.736165
Cholesterols (mg)           2515.563425
Total carbohydrate (g)       421.433989
Total Sugars (g)             244.436476
Added Sugars (g)             202.568267
Sodium (mg)               222281.699963
dtype: float64

In [69]:
np.var(df, 1) #varianza de cada fila

0       51766.478001
1       32100.508620
2      122835.773896
3      126625.222221
4      108067.705505
           ...
136       447.354120
137       634.970304
138      2835.883976
139       174.359264
140       453.777920
Length: 141, dtype: float64

In [71]:
# Desviación típica

des_tipica= np.std(df) # varianza para todos los datos
des_tipica

#Representa la raíz cuadrada de la varianza

/Users/feliciano/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3558: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Energy (kCal)             184.895670
Protein (g)                 8.307247
Total fat (g)              10.302781
Sat Fat (g)                 4.883043
Trans fat (g)               6.303663
Cholesterols (mg)          50.155393
Total carbohydrate (g)     20.528857
Total Sugars (g)           15.634464
Added Sugars (g)           14.232648
Sodium (mg)               471.467602
dtype: float64

In [74]:
np.std(df, 1) #desviacion para cada fila

0      227.522478
1      179.166148
2      350.479349
3      355.844379
4      328.736529
          ...
136     21.150748
137     25.198617
138     53.253018
139     13.204517
140     21.302064
Length: 141, dtype: float64

In [75]:
# Moda

# moda de cada columna
moda, frecuencia = stats.mode(df['Total fat (g)'])

In [78]:
print(f"El valor con mayor frecuencia en la columna 'Total fat (g)' es {moda} y las veces que aparece es {frecuencia}")

El valor con mayor frecuencia en la columna 'Total fat (g)' es [0.] y las veces que aparece es [16]

In [36]:
# Mediana

df.median()

#Representa el valor central donde tendremos el 50% de los datos por encima y el 50% por debajo. En este caso los representamos por columnas

/var/folders/0b/r1tw2m0d04b5wkj6n99ypszr0000gn/T/ipykernel_7736/2109633688.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Energy (kCal)             219.360
Protein (g)                 4.790
Total fat (g)               7.770
Sat Fat (g)                 4.270
Trans fat (g)               0.150
Cholesterols (mg)           8.390
Total carbohydrate (g)     30.820
Total Sugars (g)            9.160
Added Sugars (g)            3.640
Sodium (mg)               152.025
dtype: float64

In [79]:
# Media ponderada

#en este caso la calculamos sólo para 1 columna 'Total fat (g)'
w= np.ones(len(df['Total fat (g)']),dtype = np.complex64)


avg = np.average(df['Total fat (g)'], weights=w)
print(avg)

#La media ponderada es un tipo de media aritmética donde a cada valor del conjunto de edatos se le asigna un peso, en este caso la suma 
#de registros de la columna 'Total fat (g)', este afectará a la contribución de cada uno de los valores del conjunto de datos.
#En este caso, la media ponderada de la columna 'Total fat (g)' es 9.99 g

(9.991702127659574+0j)

In [82]:
# Coeficiente de variación

coeficiente=(np.std(df) / np.abs(np.mean(df)))
coeficiente

#El coeficiente hace referencia a la relación entre el tamaño de la media y la variabilidad de la variable. 

#Si su valor es bajo, significará que el conjunto de datos es homogéneo y que no hay valores que se separen demasiado de la media. 
# Si por el contrario el coeficiente de variación es grande, la distribución de los datos será mucho más heterogénea,
# con grandes distancias entre algunas de las muestras (estarán más dispersos). Este segundo caso nos indicará que los estadísticos son menos robustos.

#Podemos ver que las columnas presentan por lo general valores bajos excepto la columna Trans Fat que tiene un valor de 9.17

Energy (kCal)             0.755801
Protein (g)               1.108587
Total fat (g)             1.031134
Sat Fat (g)               0.977080
Trans fat (g)             9.173459
Cholesterols (mg)         1.903425
Total carbohydrate (g)    0.658181
Total Sugars (g)          1.010965
Added Sugars (g)          1.376871
Sodium (mg)               1.302166
dtype: float64

In [31]:
# Interpretación de los resultados.
# Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.