In [ ]:
# En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.
# Al final de la explicación encontrareís una serie de ficheros con distintos formatos.
# Los objetivos de este pair programming:
# Id cargando todos los ficheros en vuestro jupyter.
# Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.
# Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
# csv
# excel
# json
# pickle

In [1]:
import pandas as pd
import numpy as np
import pickle

In [21]:
# Id cargando todos los ficheros en vuestro jupyter.
quejas_csv = pd.read_csv("datos/quejas.csv", sep = ";", encoding="ISO-8859-1")
quejas_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [11]:
quejas_json = pd.read_json("datos/quejas.json")
quejas_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [13]:
quejas2_xlsx = pd.read_excel("datos/quejas2.xlsx")
quejas2_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [ ]:
# pickle

In [22]:
quejas_csv.to_pickle("datos/quejas_convertido.pickle")

In [23]:
lectura_quejas_convertido= pd.read_pickle("datos/quejas_convertido.pickle")
lectura_quejas_convertido.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [ ]:
# Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. 
# Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

# excel
# json
# pickle

In [24]:
df_clipboard= pd.read_clipboard(sep="\t")
df_clipboard.head()

,TOTAL,"50,99","50,99.1","51,00","50,99.2","50,97","50,93","50,90","50,86","50,78","50,71","50,66","50,60"
0,Andalucía,"50,74","50,73","50,71","50,70","50,67","50,65","50,65","50,62","50,59","50,53","50,50","50,49"
1,Aragón,"50,59","50,65","50,68","50,68","50,65","50,54","50,47","50,43","50,27","50,21","50,14","50,03"
2,"Asturias, Principado de","52,30","52,29","52,27","52,27","52,28","52,25","52,23","52,16","52,13","52,07","52,05","52,01"
3,"Balears, Illes","50,14","50,13","50,17","50,23","50,28","50,26","50,23","50,17","50,11","49,97","49,91","49,80"
4,Canarias,"50,57","50,54","50,50","50,46","50,42","50,39","50,33","50,29","50,19","50,14","50,08","50,03"

In [25]:
# csv
df_clipboard.to_csv("datos/clipboard.csv")

In [26]:
#excel
df_clipboard.to_excel("datos/clipboard.xlsx")

In [27]:
#json
df_clipboard.to_json("datos/clipboard.json")

In [28]:
#pickle
df_clipboard.to_pickle("datos/clipboard.pickle")