In [2]:
import pandas as pd
import regex as re
import numpy as np

df=pd.read_csv('./datos/attacks_pandas5.csv')
df.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species', 'Href', 'Siglo',
       'Unnamed: 0_x', 'Sex ', 'Species ', 'href', 'Unnamed: 0_y',
       'Fatal (Y/N)', 'Injury', 'Date'],
      dtype='object')

In [3]:
# 1-Cread una columna nueva y una funci칩n que nos de el mes donde ocurri칩 el ataque.
# Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci칩n de mes.
# En ese caso devolved un nulo (NaN).
from cmath import nan


def sacar_mes(x):
    try:
        return re.findall('([A-Z]{1}[a-z]{2})\-',x)[0]
    except:
        return np.nan

df['Mes'] = df['Date'].apply(sacar_mes)

In [4]:
df.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Siglo,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Fatal (Y/N),Injury,Date,Mes
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,siglo - XXI,NaN,NaN,NaN,NaN,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,siglo - XXI,NaN,NaN,NaN,NaN,6,Y,FATAL,03-Jun-2018,Jun
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,siglo - XXI,NaN,NaN,NaN,NaN,8,N,Lower left leg bitten,26-May-2018,May
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,siglo - XXI,NaN,NaN,NaN,NaN,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,siglo - XXI,NaN,NaN,NaN,NaN,13,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May

In [5]:
df['Mes'].value_counts()

Aug    162
Sep    154
Oct    148
Jul    148
Jun    137
Jan    129
Apr    126
May    107
Mar    107
Dec    104
Nov     99
Feb     97
Name: Mes, dtype: int64

In [6]:
df['Mes'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', nan], dtype=object)

In [7]:
# 2-Vamos con la columna fatal_(y/n).
#  Lo primero que ten칠is que hacer es evaluar los valores 칰nicos que hay.

df['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [8]:
#Esperar칤amos tener solo dos valores: y y n, pero tristemente no deber칤a ser as칤 游땴. 
#Cread una columna nueva y una funci칩n que devuelva 칰nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

def cambiar_y_n(x):
    if x== 'Y':
        return('Y')
    elif x== 'N':
        return('N')
    else:
        return np.nan
     
    
df['fatal_bien'] = df['Fatal (Y/N)'].apply(cambiar_y_n)

In [9]:
df['fatal_bien'].unique()

array(['N', 'Y', nan], dtype=object)

In [10]:
df.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Fatal (Y/N),Injury,Date,Mes,fatal_bien
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,NaN,NaN,NaN,NaN,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,NaN,NaN,NaN,NaN,6,Y,FATAL,03-Jun-2018,Jun,Y
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,NaN,NaN,NaN,NaN,8,N,Lower left leg bitten,26-May-2018,May,N
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,NaN,NaN,NaN,NaN,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,N
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,NaN,NaN,NaN,NaN,13,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,N

In [11]:
# 3-Seguid la misma l칩gica que en el ejercicio anterior pero con la columna sex.
#Pero en este caso vamos a incluir un retito m치s: En este caso querremos tener dos valores 칰nicos F y M.
#De nuevo en la columna hay otros car치cteres raros como 'M ', 'lli', 'N', '.'. 
#En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr칠is que usar la librer칤a random).
#En caso de que sea nulo, que la funci칩n devuelva nulo (np.nan).
import random
def cambiar_genero(x):
    if x== 'F':
        return('F')
    elif x== 'M':
        return('M')
    elif x==np.nan:
        return x
    else:
        return(random.choice(['M','F']))
     
    
df['genero_bien'] = df['Sex'].apply(cambiar_genero)

In [12]:
df['genero_bien'].unique()

array(['F', 'M'], dtype=object)

In [13]:
df.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species', 'Href', 'Siglo',
       'Unnamed: 0_x', 'Sex ', 'Species ', 'href', 'Unnamed: 0_y',
       'Fatal (Y/N)', 'Injury', 'Date', 'Mes', 'fatal_bien', 'genero_bien'],
      dtype='object')

In [14]:
# 4-Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.
df.drop(['Date','Fatal (Y/N)', 'Sex'],axis=1,inplace=True)

In [15]:
df.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Age,Time,...,Siglo,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Injury,Mes,fatal_bien,genero_bien
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,...,siglo - XXI,NaN,NaN,NaN,NaN,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,...,siglo - XXI,NaN,NaN,NaN,NaN,6,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,...,siglo - XXI,NaN,NaN,NaN,NaN,8,Lower left leg bitten,May,N,M
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,...,siglo - XXI,NaN,NaN,NaN,NaN,10,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,...,siglo - XXI,NaN,NaN,NaN,NaN,13,Injured by teeth of a dead porbeagle shark he ...,May,N,M

In [16]:
# 5-Guardad el dataframe en un csv que usaremos m치s adelante.

df.to_csv('./datos/attacks_pandas7.csv', index=False)