In [10]:
import pandas as pd

df=pd.read_csv('./attacks_pandas5.csv')
df.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species', 'Href', 'Siglo',
       'Unnamed: 0_x', 'Sex ', 'Species ', 'href', 'Unnamed: 0_y',
       'Fatal (Y/N)', 'Injury', 'Date'],
      dtype='object')

In [2]:
# 1-Cread una columna nueva y una funci칩n que nos de el mes donde ocurri칩 el ataque.
# Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci칩n de mes.
# En ese caso devolved un nulo (NaN).
def sacar_mes(x):
    try:
       return x.split("-")[1].strip()
    except:
         return x

df['Mes'] = df['Date'].apply(sacar_mes)

In [3]:
df.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Siglo,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Fatal (Y/N),Injury,Date,Mes
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,siglo - XXI,NaN,NaN,NaN,NaN,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,siglo - XXI,NaN,NaN,NaN,NaN,6,Y,FATAL,03-Jun-2018,Jun
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,siglo - XXI,NaN,NaN,NaN,NaN,8,N,Lower left leg bitten,26-May-2018,May
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,siglo - XXI,NaN,NaN,NaN,NaN,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,siglo - XXI,NaN,NaN,NaN,NaN,13,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May

In [4]:
df['Mes'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', 'May2015', '2000', '1999', '1993', 'Feb 1993',
       '1986', '1985 or mid Jul', '1985', '1981', '30', '1980',
       '05 May 1979', '1974', '1973', '1968', '1967', '1966',
       'Summer of 1996', '1961', '1959', '1958', '1953', 'Summer 1950',
       'Summer 1948', '1945', '1943', '1942', '1932', '1928', 'May 1922',
       '1800', '28', '1791', '1779', 'Reported 1776', '1776', '1767',
       '1764', '1758', '1749', '1755', '1748', '1733', '1723',
       'June 1721', '1700s', 'Late 1600s Reported 1728', 'Reported 1638',
       'Reported 1637', 'Reported 1617', '1642', '1595', '1555',
       'Ca. 1554', 'Ca. 1543', 'Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.',
       'Ca. 214 B.C.', 'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.',
       'Before 1939', '1990 or 1991', 'Before 2016', '2009',
       'Before 1934', '2009?', 'Before 1930', '1899', 'Before 1909',
       'Before 2012', 'Before 1916', '1963', 'Before 1908', 'Before 1900',
       'Before 1876', 'Before 2011', 'Before 2009', 'Beforer 1994',
       'Before 1963', '1913', 'Before 1936', 'Before 1911', 'Before 1901',
       'No date, late 1960s', 'Before 2006', 'Before 2003', 'Before 2004',
       'Before 1962', '1950s', 'No date, Before 1963', '2003?', 'No date',
       '1998', '1996', '1995', 'Before 1996', '1989', '1987',
       'No date, Before 1987', 'No date, Before  1975',
       'No date, Before 1975', 'No date, Before 1969',
       'No date, Before 1902',
       'No date, After August 1926 and before 1936', 'Before 1961',
       '1960s', 'Before 1960', 'Before  1958', 'Before 1958',
       'Before 1957', 'Before 1956', '1956', 'Before 1952',
       '"Before the war"', '1945, more likely 1945', '1950', '1946',
       'Before 1905', 'World War II', 'A few years before 1938',
       'Early 1930s', 'Before 1927', 'Between 1918 & 1939', '1923',
       'Before 1921', 'Before 1917', 'Circa 1862', 'Before 1906',
       'Before 1903', '1905', '1889', '1853'], dtype=object)

In [5]:
# 2-Vamos con la columna fatal_(y/n).
#  Lo primero que ten칠is que hacer es evaluar los valores 칰nicos que hay.

df['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [6]:
#Esperar칤amos tener solo dos valores: y y n, pero tristemente no deber칤a ser as칤 游땴. 
#Cread una columna nueva y una funci칩n que devuelva 칰nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

def cambiar_y_n(x):
    if x== 'Y':
        return('Y')
    elif x== 'N':
        return('N')
    else:
        return('NaN')
     
    
df['fatal_bien'] = df['Fatal (Y/N)'].apply(cambiar_y_n)

In [7]:
df['fatal_bien'].unique()

array(['N', 'Y', 'NaN'], dtype=object)

In [13]:
# 3-Seguid la misma l칩gica que en el ejercicio anterior pero con la columna sex.
#Pero en este caso vamos a incluir un retito m치s: En este caso querremos tener dos valores 칰nicos F y M.
#De nuevo en la columna hay otros car치cteres raros como 'M ', 'lli', 'N', '.'. 
#En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr칠is que usar la librer칤a random).
#En caso de que sea nulo, que la funci칩n devuelva nulo (np.nan).
import random
def cambiar_genero(x):
    if x== 'F':
        return('F')
    elif x== 'M':
        return('M')
    elif x=='NaN':
        return x.np.nan
    else:
        return(random.choice(['M','F']))
     
    
df['genero_bien'] = df['Sex'].apply(cambiar_genero)

In [14]:
df['genero_bien'].unique()

array(['F', 'M'], dtype=object)

In [38]:
# 4-Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

In [39]:
# 5-Guardad el dataframe en un csv que usaremos m치s adelante.