In [2]:
# 1- ¿Cuántos ataques hubo por país? Devuelve un DataFrame.
import numpy as np
import pandas as pd

df=pd.read_csv('./datos/attacks_pandas5.csv')

In [3]:
#CON VALUE COUNTS:
ataques_pais=df['Country'].value_counts()
ataques_pais

USA                   741
AUSTRALIA             343
SOUTH AFRICA          234
BAHAMAS                29
NEW ZEALAND            21
                     ...
GREENLAND               1
ST. MAARTIN             1
UNITED KINGDOM          1
SWEDEN                  1
CEYLON (SRI LANKA)      1
Name: Country, Length: 95, dtype: int64

In [4]:
atacks=pd.DataFrame(ataques_pais) 
atacks

                    Country
USA                     741
AUSTRALIA               343
SOUTH AFRICA            234
BAHAMAS                  29
NEW ZEALAND              21
...                     ...
GREENLAND                 1
ST. MAARTIN               1
UNITED KINGDOM            1
SWEDEN                    1
CEYLON (SRI LANKA)        1

[95 rows x 1 columns]

In [5]:
# CON GROUPBY:
ataques_country=df.groupby('Country')['Country'].count()
ataques_country

Country
AMERICAN SAMOA      2
ARGENTINA           1
ASIA?               1
AUSTRALIA         343
BAHAMAS            29
                 ...
URUGUAY             2
USA               741
VANUATU             4
VENEZUELA           4
VIETNAM             5
Name: Country, Length: 95, dtype: int64

In [6]:
atacks_country=pd.DataFrame(ataques_country)
atacks_country

                Country
Country
AMERICAN SAMOA        2
ARGENTINA             1
ASIA?                 1
AUSTRALIA           343
BAHAMAS              29
...                 ...
URUGUAY               2
USA                 741
VANUATU               4
VENEZUELA             4
VIETNAM               5

[95 rows x 1 columns]

In [7]:
# 2- ¿Cuántos ataques ha habido por año? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

ataques_años=df.groupby('Year')['Date'].count() 

attacks_años=pd.DataFrame(ataques_años)

attacks_años.sort_values(by=['Date'], inplace=True, ascending=False)
attacks_años

        Date
Year
0.0      125
2015.0    68
2007.0    57
2012.0    54
2002.0    53
...      ...
1784.0     1
1783.0     1
1787.0     1
1779.0     1
1780.0     1

[147 rows x 1 columns]

In [8]:
attacks_años.rename(columns={'Date':'Ataques'}, inplace= True) #renombramos la columna Date ya que no representa fecha, sino el número de ataques 
attacks_años

        Ataques
Year
0.0         125
2015.0       68
2007.0       57
2012.0       54
2002.0       53
...         ...
1784.0        1
1783.0        1
1787.0        1
1779.0        1
1780.0        1

[147 rows x 1 columns]

In [9]:
# 3- ¿Cuántos ataques hubo por año y sexo? Devolved un DataFrame solo del año 2000 en adelante.

df_2000 = df[df['Year']>2000] # para los años de 2000 en adelante
df_2000 = df_2000.reset_index()
df_2000

df_año = df_2000.groupby(['Year','Sex'])['Case Number'].count() #groupby para que nos muestre el número de casos por género y año
df_año = df_año.reset_index()
df_año.rename(columns={'Case Number':'Numero de ataques'}, inplace= True) 
df_año.head()

     Year Sex  Numero de ataques
0  2001.0   F                  3
1  2001.0   M                 26
2  2002.0   F                  6
3  2002.0   M                 47
4  2003.0   F                  6

In [10]:
# 4- Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.

paises= df[df.Country.isin(['USA', 'AUSTRALIA', 'SOUTH AFRICA'])]
paises.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Href,Siglo,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Fatal (Y/N),Injury,Date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,8,N,Lower left leg bitten,26-May-2018
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
6,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,21,N,"No injury, knocked off board by shark",25-Apr-2018
8,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,24,N,"No injury, shark bit hole in ski",22-Apr-2018

In [11]:
ataques_paises= paises.groupby('Fatal (Y/N)')['Sex'].value_counts()
ataques_paises= pd.DataFrame(ataques_paises)
ataques_paises.rename(columns={'Sex':'Numero de ataques'}, inplace= True) 
ataques_paises

                 Numero de ataques
Fatal (Y/N) Sex
 N          M                    2
N           M                  889
            F                  137
            lli                  1
Y           M                  149
            F                   19

In [12]:
# 5- Usando el DataFrame creado en el ejercicio anterior. ¿En qué país hubo más ataques?

paises['Country'].value_counts()

#El país con más ataques fue USA

USA             741
AUSTRALIA       343
SOUTH AFRICA    234
Name: Country, dtype: int64

In [13]:
# 6- ¿Qué y cuántos tipos de ataques hubo por país?

tipos_ataques= paises.groupby('Type')['Country'].value_counts()
tipos_ataques= pd.DataFrame(tipos_ataques)
tipos_ataques.rename(columns={'Country':'Numero de ataques'}, inplace= True) 
tipos_ataques

                           Numero de ataques
Type         Country
Boat         AUSTRALIA                     1
Boating      USA                          11
             AUSTRALIA                     4
Invalid      USA                          48
             AUSTRALIA                    18
             SOUTH AFRICA                 10
Provoked     USA                          49
             AUSTRALIA                    27
             SOUTH AFRICA                 14
Sea Disaster AUSTRALIA                     3
             USA                           1
Unprovoked   USA                         632
             AUSTRALIA                   290
             SOUTH AFRICA                210